body {
}
.Sheader {
	margin:20px auto 20px auto;
	text-align: center;
}
	.Sheader ul {
		padding: 0px 0px 0px 0px;
		height: auto;
		width: 60%;
		margin:0px auto 0px auto;
	}

.menu {
	background-color: #e73b63;
	border-radius: 20px 20px;
	/*width: 60%;*/
}

.navbar-default .navbar-nav .active a {
	background-color: none;
}
.menu li {
	padding: 5px;
	height: auto;
}

.menu a {
	color: #fff;
	font-size: 15px;
	text-decoration: none;
	background-color: none;
}

.menu a:hover {
	color : black;
	background-color: none;
}

.menu-btn {
	background-color : #e73b63;
}