body {
	font-family: 'KoPub Dotum';
}

.s_info {
	margin-bottom: 10px;
}

.s_head {
	padding: 20px;
	border-bottom:1px solid #000;
}
.s_add {
	margin-right: 10px;
}

.month_s {
	font: normal bold 30px KoPub Dotum;
}

.header {
	color: #e73b63;
}

.vote {
	font: normal 18px KoPub Dotum;
	color: #fff;
	background-color: #e73b63;
	border-radius: 30px 30px;
	display: inline-block;
	padding: 5px 10px 5px 10px;
}

.modal-content{
	background-color: #000;
	opacity: 0.8;
	border-radius: 25px 25px;
}

.mtitle {
	font: normal 18px KoPub Dotum;
	color: #fff;
}

.modal-body input {
	border: 1px solid #000;
	border-radius: 25px 25px;
	margin : 5px 0px 0px 50px;
}

.snack_list {
	margin: 20px 0px 20px 0px;
}

.snack_info {
	background-color: #f2f2f2;
	border: 1px solid #000;
	display: inline-block;
	padding: 5px;
	border-radius: 15px 15px;
}

.snack_info span {
	font: normal bold 14px KoPub Dotum;
}

.btn-vote {
	width: 50px;
	height: 50px;
}