@{
	ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<body>
	<!-- header
	<header id="header">
		<div class='logo'><a href="index.html"><img src="~/images/main/logo.png" alt="로고" /></a></div>
	</header>
	-->
	<!-- top -->
	<div id="info">
		<!--<div class="star"><i class="fas fa-star-of-life"></i></div>-->
		<div class="information">
			<h1>Flos Via는?</h1>
			<div class="flosvia"><img src="~/images/main/just.jpg" alt="대표이미지" /></div>
			<div class="intro">
				<ul>
					<li>
						그냥 동물 농장 입니다.<br>
						약간 제정신이 아닌 친구들이 많은,<br>
						아 참고로 판다는 제정신!!
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<footer id=footer>
		<div class="icon">
			<ul class="icons">
				<li><a href=""><i class="fab fa-twitter"></i></a></li>
				<li><a href=""><i class="fab fa-facebook"></i></a></li>
				<li><a href="https://github.com/FLOSVIA"><i class="fab fa-github"></i></a></li>
			</ul>
		</div>
		<div class="copyright">
			<ul>
				<li>&copy; Untitled. All rights reserved. | Made by FLOSVIA </li>
			</ul>
		</div>
	</footer>
</body>
</html>
